<div class="about d-flex  align-items-center ">
    <img src="Images/aboutUsCar.png" alt="" loading="lazy">

    <div class="about-Content d-flex justify-content-center flex-column align-items-center w-100">
        <h3 class="fw-medium text-center  h2">{{"ContactUsPages.title" |translate}}</h3>
        <form class=" d-flex  flex-column  justify-content-center w-100" >
            <div class="my-3">
                <input type="email" class="form-control"  placeholder="Enter Your Name">
              </div>


              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Enter Your Email">
              </div>


              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Enter Your Phone">
              </div>

              <button class="d-block w-100 btn">{{"ContactUsPages.Button" |translate}} </button>
        </form>
    
    </div>






</div>


<div class="contact flex-wrap gap-4">

    <div class="cardContact  ">
        <div class="iocn">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <h3>{{"ContactUsPages.Location" |translate}}</h3>

        <p>Fairmont Dubai - Sheikh Zayed</p>
        
    </div>

    <div class="cardContact">
        <div class="iocn">
            <i class="fa-solid fa-phone-volume"></i>    
        </div>

        <h3>{{"ContactUsPages.Call" |translate}}</h3>

        <p>971565555471</p>
        
    </div>


    <div class="cardContact">
        <div class="iocn">
            <i class="fa-solid fa-business-time"></i>
          </div>

          <h3>{{"ContactUsPages.Woek" |translate}}</h3>

        <p>All Time</p>
        
    </div>

</div>