<div class="body my-5">

    <h3 class="text-center mb-5"> {{"Bodys.Body" | translate}}</h3>
    <div class="types d-flex justify-content-center align-items-center flex-wrap  gap-3">
            @for (bodyone of Bodys; track bodyone.id) {
              
                <a [routerLink]="['/car-type/body/',bodyone.name]" >
                    <div class="d-flex flex-column align-items-center gap-5   ">
                        <img [src]="bodyone.image" alt="" width="250" height="150">
                        <h5 class="text-center">{{bodyone.name}}</h5>
                    </div>
                
                </a>
                
              
            }

    </div>
</div>