<div class="cardetails d-flex gap-5 p-3 ">
    <div class="left w-50">

        <owl-carousel-o [options]="customOptions">

            @for ( carDelais of car.images ; track $index) {
                <ng-template carouselSlide >
    
                  
                    <img [src]="carDelais"  alt="" width="100%" class="rounded-4" loading="lazy">
               
            
                  </ng-template>
              
            }
        
          </owl-carousel-o>
    

    </div>
    <div class="right p-4 rounded-3  flex-grow-1 bg-light">
        <div class="Details  d-flex justify-content-between align-items-center mb-3">
            <h3>{{car.name}}</h3>
            <div   class="Icon">
                <a href="https://wa.me/971565555471?text=مرحبا%20أريد%20التحدث%20معك">
                    <i class="fa-brands fa-whatsapp"></i>

                </a>

   
            </div>
        </div>

     <div class="Content">
        <div   class="d-flex justify-content-between align-items-center my-3 mt-5">
            <h4>{{"carDelalils.Daily" | translate}}</h4>
            <h5>{{car.price_day}}/Day AED</h5>

        </div>
        <div   class="d-flex justify-content-between align-items-center my-3 mt-5">
            <h4>{{"carDelalils.Weekly" | translate}}</h4>
            <h5 class="my-3">{{car.price_week}}/Week AED</h5>

        </div>
        <div   class="d-flex justify-content-between align-items-center my-5 ">
            <h4>{{"carDelalils.Month" | translate}}</h4>
            <h5 class="my-3">{{car.price_month}}/Month AED</h5>

        </div>

        <div class="d-flex justify-content-between align-items-center flex-wrap mb-5">
          <p><span>{{"carDelalils.Color" | translate}}</span> :{{car.color}} </p>
          <p><span>{{"carDelalils.Body" | translate}}</span> :{{car.body}} </p>
        </div>
        <div class="icons d-flex justify-content-between align-items-center gap-2">
          <p><i class="fa-solid fa-car mx-2"></i> <span>{{car.brand}}</span></p>
          <p><i class="fa-solid fa-door-closed mx-2"></i> <span>{{car.door_num}}</span></p>
          <p><i class="fa-solid fa-couch mx-2"></i> <span>{{car.chair_num}}</span></p>
        </div>  
     </div>       

    </div>
</div>