<nav class="container-fluid nav-bar  px-5 py-1 d-flex justify-content-between align-items-center gap-4  m-0 bg-white">
    <div class="leftNav" routerLink="/Home" >
        <img src="Images/IMG_2751.PNG" alt="" width="100" loading="lazy">

    </div>
    <div class="rightNav  d-flex  gap-2 align-items-center">
        <ul class="d-flex  "> 
            <li><a routerLink="/Home" routerLinkActive="active-link">Home</a></li>
            <li><a routerLink="/about-us" routerLinkActive="active-link">About Us</a></li>
            <li><a routerLink="/car-type" routerLinkActive="active-link">Car Types</a></li>
            <li><a routerLink="contact-us" routerLinkActive="active-link">Contact Us</a></li>
   
        </ul>
        <div class="icon">
            <i class="fa-solid fa-bars"></i>
        </div>


    </div>

    
</nav>