<nav class="container-fluid nav-bar  px-5 py-1 d-flex justify-content-between align-items-center gap-4  m-0 bg-white">
    <div class="leftNav" routerLink="/Home" >
        <img src="Images/IMG_2751.PNG" alt="" width="100" loading="lazy">

    </div>
    <div class="rightNav  d-flex  gap-2 align-items-center">
        <ul class="d-flex  "> 
            <li><a routerLink="/Home" routerLinkActive="active-link">{{"navbar.Home" | translate }}</a></li>
            <li><a routerLink="/about-us" routerLinkActive="active-link">{{"navbar.About" | translate }}</a></li>
            <li><a routerLink="/car-type" routerLinkActive="active-link">{{"navbar.CarType" | translate }}</a></li>
            <li><a routerLink="contact-us" routerLinkActive="active-link">{{"navbar.ContactUS" | translate }}</a></li>
            <li (click)="ToggleLang()" class="cr trans">
                <a class="dropdown-item text-white">{{ "navbar.lang" | translate }}</a>
              </li>

          
   
        </ul>
        
        <div class="icon">
            <i class="fa-solid fa-bars" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
        </div>


    </div>

    
</nav>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>



    <div class="routeLink">
        <ul class="links m-0">
  
            <li><a routerLink="/Home" routerLinkActive="active">{{"navbar.Home" | translate }}</a></li>
            <li><a routerLink="/about-us" routerLinkActive="active">{{"navbar.About" | translate }}</a></li>
            <li><a routerLink="/car-type" routerLinkActive="active">{{"navbar.CarType" | translate }}</a></li>
            <li><a routerLink="/contact-us" routerLinkActive="active">{{"navbar.ContactUS" | translate }}</a></li>
            <li (click)="ToggleLang()" class="cr trans">
                <a class="dropdown-item text-white">{{ "navbar.lang" | translate }}</a>
              </li>

        </ul>
    </div>

  </div>