<nav class="container-fluid nav-bar  px-5 py-1 d-flex justify-content-between align-items-center gap-4  m-0 bg-white">
    <div class="leftNav" routerLink="/Home" >
        <img src="Images/IMG_2751.PNG" alt="" width="100" loading="lazy">

    </div>
    <div class="rightNav  d-flex  gap-2 align-items-center">
        <ul class="d-flex  "> 
            <li><a routerLink="/Home" routerLinkActive="active-link">Home</a></li>
            <li><a routerLink="/about-us" routerLinkActive="active-link">About Us</a></li>
            <li><a routerLink="/car-type" routerLinkActive="active-link">Car Types</a></li>
            <li><a routerLink="contact-us" routerLinkActive="active-link">Contact Us</a></li>
   
        </ul>
        <div class="icon">
            <i class="fa-solid fa-bars" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
        </div>


    </div>

    
</nav>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>



    <div class="routeLink">
        <ul class="links m-0">
            <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="/car-type" routerLinkActive="active">Car Types</a></li>
            <li><a routerLink="contact-us" routerLinkActive="active">Contact Us</a></li>
        </ul>
    </div>

  </div>