<footer class="new_footer_area bg_color ">
    <div class="new_footer_top  ">
        <div class="container-fuild p-3">
            <div class="row RowFooter w-100 d-flex justify-content-between flex-wrap" >
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" >
                           <img src="Images/IMG_2751.PNG" alt="" width="150">
                           <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                           <button class="btn btn_get btn_get_two mt-3" type="submit">{{"Footer.Subscribe.button"| translate}}</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 my-5">
                    <div class="f_widget about-widget wow fadeInLeft" >
                        <h3 class="f-title f_600 t_color f_size_18">{{"Footer.Pages.title" | translate}}</h3>
                        <ul class="list-unstyled  p-0 f_list">
                            <li><a routerLink="/Home" routerLinkActive="active-link">{{"navbar.Home" | translate }}</a></li>
                            <li><a routerLink="/about-us" routerLinkActive="active-link">{{"navbar.About" | translate }}</a></li>
                            <li><a routerLink="/car-type" routerLinkActive="active-link">{{"navbar.CarType" | translate }}</a></li>
                            <li><a routerLink="contact-us" routerLinkActive="active-link">{{"navbar.ContactUS" | translate }}</a></li>
                        </ul>
                    </div>
                </div>
  
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" >
                        <h3 class="f-title f_600 t_color f_size_18">{{"Footer.TeamSolutions.title" | translate}}</h3>
                        <div class="f_social_icon">
                            <a  class="fab fa-facebook" href="https://www.facebook.com/profile.php?id=61569150265591"></a>
                            <a  class="fab fa-youtube" href="https://www.youtube.com/@Mouradmotors?sub_confirmation=1"></a>
                            <a  class="fab fa-whatsapp" href="https://api.whatsapp.com/send/?phone=971565555471&text&type=phone_number&app_absent=0"></a>
                            <a  class="fab fa-instagram" href="https://www.instagram.com/mourad_motors"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
</footer>